<div class="small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="#">@ViewBag.Header</a></li>
                        <li class="active">
                            <span>@ViewBag.Title </span>
                        </li>
                    </ol>
                </div>
            <h2 class="font-light m-b-xs">
                @ViewBag.Header
            </h2>
            <small>@ViewBag.Keterangan</small>
        </div>
    </div>
</div>

<div class="content transition animated fadeIn">
    @* <div class="row"> *@
    @*     <div class="col-lg-12 text-center m-t-md"> *@
    @*         <h1 class="text-success"> *@
    @*             Welcome to System Monitoring *@
    @*         </h1> *@
    @* *@
    @*         <p> *@
    @*             Monitoring perhitungan bunga <b>SRAK</b> keseluruhan atau per kantor canbang. *@
    @*         </p> *@
    @*     </div> *@
    @* </div> *@
    @* <div class="row"> *@
    @*     <div class="col-lg-12" style="height:30px"> *@
    @* *@
    @*     </div> *@
    @* </div> *@
    @* <div class="row"> *@
    @*     <div class="col-lg-3"> *@
    @*         <div class="hpanel"> *@
    @*             <div class="panel-body text-center h-200"> *@
    @*                 <i class="pe-7s-culture fa-4x"></i> *@
    @* *@
    @*                 <h1 class="m-xs" id="totInHouse">0</h1> *@
    @* *@
    @*                 <h3 class="no-margins text-success"> *@
    @*                     In House *@
    @*                 </h3> *@
    @*                 <small>Informasi jumlah total transaksi In House.</small> *@
    @*             </div> *@
    @*             <div class="panel-footer"> *@
    @*                 <i class="fa fa-clock-o"></i> 12-06-2023 11:22:11 *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-lg-3"> *@
    @*         <div class="hpanel"> *@
    @*             <div class="panel-body text-center h-200"> *@
    @*                 <i class="pe-7s-cloud-upload fa-4x"></i> *@
    @* *@
    @*                 <h1 class="m-xs" id="totRTGS">0</h1> *@
    @* *@
    @*                 <h3 class="no-margins text-warning"> *@
    @*                     RTGS *@
    @*                 </h3> *@
    @*                 <small>Informasi jumlah total transaksi RTGS.</small> *@
    @*             </div> *@
    @*             <div class="panel-footer"> *@
    @*                 <i class="fa fa-clock-o"></i> 12-06-2023 11:22:11 *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-lg-3"> *@
    @*         <div class="hpanel"> *@
    @*             <div class="panel-body text-center h-200"> *@
    @*                 <i class="pe-7s-display1 fa-4x"></i> *@
    @* *@
    @*                 <h1 class="m-xs" id="totSKN">0</h1> *@
    @* *@
    @*                 <h3 class="no-margins text-info"> *@
    @*                     SKN / Kliring *@
    @*                 </h3> *@
    @*                 <small>Informasi jumlah total transaksi SKN.</small> *@
    @*             </div> *@
    @*             <div class="panel-footer"> *@
    @*                 <i class="fa fa-clock-o"></i> 12-06-2023 11:22:11 *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-lg-3"> *@
    @*         <div class="hpanel"> *@
    @*             <div class="panel-body text-center h-200"> *@
    @*                 <i class="pe-7s-coffee fa-4x"></i> *@
    @* *@
    @*                 <h1 class="m-xs">0</h1> *@
    @* *@
    @*                 <h3 class="no-margins text-danger"> *@
    @*                     Lain-lain *@
    @*                 </h3> *@
    @*                 <small>Informasi lain-lain yang belum tersedia.</small> *@
    @*             </div> *@
    @*             <div class="panel-footer"> *@
    @*                 <i class="fa fa-clock-o"></i> 12-06-2023 11:22:11 *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    
    <div class="row">
        <div class="col-lg-10">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    @* <h3 class="m-b-xs">FILTER</h3> *@
                    <i class="fa fa-quote-right"></i> Menampilkan data sesuai pilihan tanggal & cabang
                </div>
                
                <div class="panel-body">
                    @* <p><i class="fa fa-quote-right"></i> Menampilkan data sesuai pilihan tanggal & cabang</p> *@
                    @* <br/> *@
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Tanggal</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                            <input type="text" id="tglData" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Cabang</label>
                                        <div class="col-md-9">
                                            <select id="kdCabang" asp-items="ViewBag.ListCabang" class="form-control select2-cabang">
                                                <option selected>Semua Cabang</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-sm-5">
                                        <button type="button" id="bFilter" class="btn btn-primary btn-outline"><i class="fa fa-search"></i> Filter Data</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="breGenerate" class="btn btn-danger btn-outline"><i class="fa fa-gears"></i> Re-Generate Data</button>
                                    </div>       
                                </div>
                           
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading">
                    @* <div class="pull-right"> *@
                    @*     <a class="btn btn-success" id="bTambahUser" data-toggle="tooltip" data-placement="top" title="Tamplikan Lengkap" href="@Url.Action("DaftarInHouse", "BPDP")"><i class="fa fa-th-list"></i></a> *@
                    @* </div> *@
                    <h3 class="m-b-xs text-success">TABUNGAN</h3>
                    <i class="fa fa-quote-right"></i> Menampilkan seluruh jenis produk tabungan
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="dtTabungan" class="table table-striped table-bordered table-hover" cellpadding="0" style="width:100%">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center">No</th>
                                <th rowspan="2" class="text-center">Tanggal</th>
                                <th rowspan="2" class="text-center">Nama Produk</th>
                                <th colspan="2" class="text-center">CORE</th>
                                <th colspan="3" class="text-center">SRAK</th>
                            </tr>
                            <tr>
                                <th class="text-center">Nominal</th>
                                <th class="text-center">Bunga</th>
                                <th class="text-center">Bunga (%)</th>
                                <th class="text-center">Nominal</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th colspan="3" class="text-center"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
    
                <div class="panel-heading">
                    @* <div class="pull-right"> *@
                    @*     <a class="btn btn-info" id="bTambahUser" data-toggle="tooltip" data-placement="top" title="Tamplikan Lengkap" href="@Url.Action("DaftarInHouse", "BPDP")"><i class="fa fa-th-list"></i></a> *@
                    @* </div> *@
                    <h3 class="m-b-xs text-warning">DEPOSITO</h3>
                    <i class="fa fa-quote-right"></i> Menampilkan seluruh jenis produk deposito
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="dtDeposito" class="table table-striped table-bordered table-hover" cellpadding="0" style="width:100%">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center">No</th>
                                <th rowspan="2" class="text-center">Tanggal</th>
                                <th rowspan="2" class="text-center">Nama Produk</th>
                                <th colspan="2" class="text-center">CORE</th>
                                <th colspan="3" class="text-center">SRAK</th>
                            </tr>
                            <tr>
                                <th class="text-center">Nominal</th>
                                <th class="text-center">Bunga</th>
                                <th class="text-center">Bunga (%)</th>
                                <th class="text-center">Nominal</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th colspan="3" class="text-center"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
    
                <div class="panel-heading">
                    @* <div class="pull-right"> *@
                    @*     <a class="btn btn-danger" id="bTambahUser" data-toggle="tooltip" data-placement="top" title="Tamplikan Lengkap" href="@Url.Action("DaftarInHouse", "BPDP")"><i class="fa fa-th-list"></i></a> *@
                    @* </div> *@
                    <h3 class="m-b-xs text-info">GIRO</h3>
                    <i class="fa fa-quote-right"></i> Menampilkan seluruh jenis produk giro
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="dtGiro" class="table table-striped table-bordered table-hover" cellpadding="0" style="width:100%">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center">No</th>
                                <th rowspan="2" class="text-center">Tanggal</th>
                                <th rowspan="2" class="text-center">Nama Produk</th>
                                <th colspan="2" class="text-center">CORE</th>
                                <th colspan="3" class="text-center">SRAK</th>
                            </tr>
                            <tr>
                                <th class="text-center">Nominal</th>
                                <th class="text-center">Bunga</th>
                                <th class="text-center">Bunga (%)</th>
                                <th class="text-center">Nominal</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th colspan="3" class="text-center"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
    
                <div class="panel-heading">
                    @* <div class="pull-right"> *@
                    @*     <a class="btn btn-warning" id="bTambahUser" data-toggle="tooltip" data-placement="top" title="Tamplikan Lengkap" href="@Url.Action("DaftarInHouse", "BPDP")"><i class="fa fa-th-list"></i></a> *@
                    @* </div> *@
                    <h3 class="m-b-xs text-danger">KREDIT</h3>
                    <i class="fa fa-quote-right"></i> Menampilkan seluruh jenis produk pinjaman / kredit
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="dtPinjaman" class="table table-striped table-bordered table-hover" cellpadding="0" style="width:100%">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center">No</th>
                                <th rowspan="2" class="text-center">Tanggal</th>
                                <th rowspan="2" class="text-center">Nama Produk</th>
                                <th colspan="2" class="text-center">CORE</th>
                                <th colspan="3" class="text-center">SRAK</th>
                            </tr>
                            <tr>
                                <th class="text-center">Nominal</th>
                                <th class="text-center">Bunga</th>
                                <th class="text-center">Bunga (%)</th>
                                <th class="text-center">Nominal</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th colspan="3" class="text-center"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading">
                    @* <div class="pull-right"> *@
                    @*     <a class="btn btn-warning" id="bTambahUser" data-toggle="tooltip" data-placement="top" title="Tamplikan Lengkap" href="@Url.Action("DaftarInHouse", "BPDP")"><i class="fa fa-th-list"></i></a> *@
                    @* </div> *@
                    <h3 class="m-b-xs text-danger">XXXX</h3>
                    <i class="fa fa-quote-right"></i> Menampilkan seluruh jenis produk pinjaman / kredit
                </div>
                <div class="panel-body">
                    <table id="dtHeader" class="table table-striped table-bordered table-hover" style="width: 100%;">
                        <thead>
                             <tr>
                                 <th data-priority="1" class="text-center"></th>
                                 <th class="text-center">No</th>
                                 <th class="text-center">No. Rekening</th>
                                 <th class="text-center">Nama Nasabah</th>
                                 <th class="text-center">Total Data</th>
                                 <th class="text-center">Total Sukses</th>
                                 <th class="text-center">Total Gagal</th>
                                 <th class="text-center">Total Belum Terkirim</th>
                             </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>

@section Styles {
    <environment names="Staging,Production,Development">
        <link rel="stylesheet" href="~/lib/toastr/lib/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/media/css/responsive.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/select2/select2.css" />
        <link rel="stylesheet" href="~/lib/select2-bootstrap/select2-bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/lib/clockpicker/dist/bootstrap-clockpicker.min.css" />
    </environment>
    
    <style>
        td.details-control {
            background: url(/Icons/details_open.png) no-repeat center center !important;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url(/Icons/details_close.png) no-repeat center center !important;
        }
    </style>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/lib/datatables/media/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/datatables/media/js/dataTables.fixedColumns.min.js"></script>
        <script src="~/lib/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/lib/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/lib/select2/select2.min.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    </environment>
    
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).idleTimer(300000);

            ProfilePiture();
            
            $('#tglData').val('@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")');
            $('#tglData').datepicker({ format: 'yyyy-mm-dd' });
            
            GetTabungan();
            GetDeposito();
            GetGiro();
            GetPinjaman();
            GetHeader();
        });

        // Idle Time
        $(document).on("idle.idleTimer", function (event, elem, obj) {
            window.location = '@Url.Action("Login", "User")';
        });

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }

        setInterval(function () { ReloadDaftar(); }, 25000);
        
        $('.select2-cabang').select2();

        function formatMoney(amount, decimalCount = 2, decimal = ",", thousands = ".") {
            try {
                decimalCount = Math.abs(decimalCount);
                decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                const negativeSign = amount < 0 ? "-" : "";

                let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                let j = (i.length > 3) ? i.length % 3 : 0;

                return negativeSign +
                    (j ? i.substr(0, j) + thousands : '') +
                    i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) +
                    (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
                console.log(e)
            }
        }

        function GetTabungan() {
            $('#dtTabungan').DataTable().destroy();
            $('#dtTabungan').DataTable({
                ajax: {
                    url: '@Url.Action("GetDataSRAK", "SRAK")',
                    dataSrc: '[]',
                    type: 'GET',
                    data: { tglData: $('#tglData').val(), kdKNTR: $('#kdCabang').val(), jenisProduk: 'TABUNGAN' }
                    //async: true
                    // error: function (xhr, error, code) {
                    //    swal.fire('Kesalahan', 'Maaf, gagal mengambil data dari server', 'error')
                    // }
                },
                columns: [
                    { data: null, className: 'text-center', width: '5%', render: function (data, type, row, meta) { return meta.row + 1; } },
                    { data: 'TGL_DATA', className: 'text-center', render: function (d) { return moment(d).format("DD/MM/YYYY") } },
                    { data: 'KETERANGAN', className: 'text-left', render: function (data, type, row) { return data } },
                    { data: 'NOMINAL', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'BUNGA', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'BUNGA_SRAK', className: 'text-center', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'NOMINAL_SRAK', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                ],
                //processing: true,
                //serverSide: true,
                autoWidth: false,
                oLanguage: { sSearch: 'Cari:' },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'Hasil Perhitungan SRAK', className: 'btn-sm' },
                    {
                        extend: 'pdf',
                        title: 'Hasil Perhitungan SRAK',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        className: 'btn-sm',
                    }
                ],
                aLengthMenu: [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "All"]
                ],
                iDisplayLength: 0,
                drawCallback: function (settings) {
                    if (!$('#dtTabungan').parent().hasClass("table-responsive")) {
                       $('#dtTabungan').wrap("<div class='table-responsive'></div>");
                    }
                    
                    $('[data-toggle="tooltip"]').tooltip();
                },
                footerCallback: function ( row, data, start, end, display ) {
                    var api = this.api(), data;
                    
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    
                    var totalNominal = api
                        .column(3, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    var totalBunga = api
                        .column(4, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    var totalBungaSRAK = api
                        .column(6, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                    
                    $(api.column(0).footer()).html('T O T A L');
                    $(api.column(3).footer()).html(formatMoney(totalNominal));
                    $(api.column(4).footer()).html(formatMoney(totalBunga));
                    $(api.column(6).footer()).html(formatMoney(totalBungaSRAK));
                }
            });
        }

        function GetDeposito() {
            $('#dtDeposito').DataTable().destroy();
            $('#dtDeposito').DataTable({
                ajax: {
                    url: '@Url.Action("GetDataSRAK", "SRAK")',
                    dataSrc: '[]',
                    type: 'GET',
                    data: { tglData: $('#tglData').val(), kdKNTR: $('#kdCabang').val(), jenisProduk: 'DEPOSITO' }
                    //async: true
                    //error: function (xhr, error, code) {
                    //    swal.fire('Kesalahan', 'Maaf, gagal mengambil data dari server', 'error')
                    //}
                },
                columns: [
                    { data: null, className: 'text-center', width: '5%', render: function (data, type, row, meta) { return meta.row + 1; } },
                    { data: 'TGL_DATA', className: 'text-center', render: function (d) { return moment(d).format("DD/MM/YYYY") } },
                    { data: 'KETERANGAN', className: 'text-left', render: function (data, type, row) { return data } },
                    { data: 'NOMINAL', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'BUNGA', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'BUNGA_SRAK', className: 'text-center', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'NOMINAL_SRAK', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                ],
                autoWidth: false,
                oLanguage: { sSearch: 'Cari:' },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'Hasil Perhitungan SRAK', className: 'btn-sm' },
                    {
                        extend: 'pdf',
                        title: 'Hasil Perhitungan SRAK',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        className: 'btn-sm',
                    }
                ],
                aLengthMenu: [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "All"]
                ],
                iDisplayLength: 0,
                drawCallback: function (settings) {
                    if (!$('#dtDeposito').parent().hasClass("table-responsive")) {
                       $('#dtDeposito').wrap("<div class='table-responsive'></div>");
                    }
                    
                    $('[data-toggle="tooltip"]').tooltip();
                },
                footerCallback: function ( row, data, start, end, display ) {
                    var api = this.api(), data;

                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    var totalNominal = api
                        .column(3, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    var totalBunga = api
                        .column(4, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    var totalBungaSRAK = api
                        .column(6, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    $(api.column(0).footer()).html('T O T A L');
                    $(api.column(3).footer()).html(formatMoney(totalNominal));
                    $(api.column(4).footer()).html(formatMoney(totalBunga));
                    $(api.column(6).footer()).html(formatMoney(totalBungaSRAK));
                }
            });
        }

         function GetGiro() {
            $('#dtGiro').DataTable().destroy();
            $('#dtGiro').DataTable({
                ajax: {
                    url: '@Url.Action("GetDataSRAK", "SRAK")',
                    dataSrc: '[]',
                    type: 'GET',
                    data: { tglData: $('#tglData').val(), kdKNTR: $('#kdCabang').val(), jenisProduk: 'GIRO' }
                    //async: true
                    //error: function (xhr, error, code) {
                    //    swal.fire('Kesalahan', 'Maaf, gagal mengambil data dari server', 'error')
                    //}
                },
                columns: [
                    { data: null, className: 'text-center', width: '5%', render: function (data, type, row, meta) { return meta.row + 1; } },
                    { data: 'TGL_DATA', className: 'text-center', render: function (d) { return moment(d).format("DD/MM/YYYY") } },
                    { data: 'KETERANGAN', className: 'text-left', render: function (data, type, row) { return data } },
                    { data: 'NOMINAL', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'BUNGA', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'BUNGA_SRAK', className: 'text-center', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'NOMINAL_SRAK', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                ],
                autoWidth: false,
                oLanguage: { sSearch: 'Cari:' },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'Hasil Perhitungan SRAK', className: 'btn-sm' },
                    {
                        extend: 'pdf',
                        title: 'Hasil Perhitungan SRAK',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        className: 'btn-sm',
                    }
                ],
                aLengthMenu: [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "All"]
                ],
                iDisplayLength: 0,
                drawCallback: function (settings) {
                    if (!$('#dtGiro').parent().hasClass("table-responsive")) {
                       $('#dtGiro').wrap("<div class='table-responsive'></div>");
                    }
                    
                    $('[data-toggle="tooltip"]').tooltip();
                },
                footerCallback: function ( row, data, start, end, display ) {
                    var api = this.api(), data;

                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    var totalNominal = api
                        .column(3, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    var totalBunga = api
                        .column(4, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    var totalBungaSRAK = api
                        .column(6, { page: 'current'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    $(api.column(0).footer()).html('T O T A L');
                    $(api.column(3).footer()).html(formatMoney(totalNominal));
                    $(api.column(4).footer()).html(formatMoney(totalBunga));
                    $(api.column(6).footer()).html(formatMoney(totalBungaSRAK));
                }
            });
         }
         
          function GetPinjaman() {
              $('#dtPinjaman').DataTable().destroy();
              $('#dtPinjaman').DataTable({
                  ajax: {
                      url: '@Url.Action("GetDataSRAK", "SRAK")',
                      dataSrc: '[]',
                      type: 'GET',
                      data: { tglData: $('#tglData').val(), kdKNTR: $('#kdCabang').val(), jenisProduk: 'PINJAMAN' }
                      //async: true
                      //error: function (xhr, error, code) {
                      //    swal.fire('Kesalahan', 'Maaf, gagal mengambil data dari server', 'error')
                      //}
                  },
                  columns: [
                      { data: null, className: 'text-center', width: '5%', render: function (data, type, row, meta) { return meta.row + 1; } },
                      { data: 'TGL_DATA', className: 'text-center', render: function (d) { return moment(d).format("DD/MM/YYYY") } },
                      { data: 'KETERANGAN', className: 'text-left', render: function (data, type, row) { return data } },
                      { data: 'NOMINAL', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                      { data: 'BUNGA', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                      { data: 'BUNGA_SRAK', className: 'text-center', render: $.fn.dataTable.render.number('.', ',', 2) },
                      { data: 'NOMINAL_SRAK', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                  ],
                  autoWidth: false,
                  oLanguage: { sSearch: 'Cari:' },
                  dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                  buttons: [
                      { extend: 'copy', className: 'btn-sm' },
                      { extend: 'csv', title: 'Hasil Perhitungan SRAK', className: 'btn-sm' },
                      {
                          extend: 'pdf',
                          title: 'Hasil Perhitungan SRAK',
                          orientation: 'landscape',
                          pageSize: 'LEGAL',
                          className: 'btn-sm',
                      }
                  ],
                  aLengthMenu: [
                      [10, 25, 50, 100, 200, -1],
                      [10, 25, 50, 100, 200, "All"]
                  ],
                  iDisplayLength: 0,
                  drawCallback: function (settings) {
                      if (!$('#dtPinjaman').parent().hasClass("table-responsive")) {
                         $('#dtPinjaman').wrap("<div class='table-responsive'></div>");
                      }
                      
                      $('[data-toggle="tooltip"]').tooltip();
                  },
                  footerCallback: function ( row, data, start, end, display ) {
                      var api = this.api(), data;

                      var intVal = function ( i ) {
                          return typeof i === 'string' ?
                              i.replace(/[\$,]/g, '')*1 :
                              typeof i === 'number' ?
                                  i : 0;
                      };

                      var totalNominal = api
                          .column(3, { page: 'current'})
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );

                      var totalBunga = api
                          .column(4, { page: 'current'})
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );

                      var totalBungaSRAK = api
                          .column(6, { page: 'current'})
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );

                      $(api.column(0).footer()).html('T O T A L');
                      $(api.column(3).footer()).html(formatMoney(totalNominal));
                      $(api.column(4).footer()).html(formatMoney(totalBunga));
                      $(api.column(6).footer()).html(formatMoney(totalBungaSRAK));
                  }
              });
          }

        function ReloadDaftar() {
            $('#dtTabungan').DataTable().ajax.reload(null, false);
            $('#dtGiro').DataTable().ajax.reload(null, false);
            $('#dtDeposito').DataTable().ajax.reload(null, false);
            $('#dtPinjaman').DataTable().ajax.reload(null, false);
        }
        
        $('#kdCabang').change(function () {
            GetTabungan();
            GetGiro();
            GetDeposito();
            GetPinjaman();

            var oldEffect = $('.setEffect').attr('data-effect');
            var newEffect = $(".animation-select").val(); // bounceInRight
        })
        
        $('#bFilter').click(function () {
            GetTabungan();
            GetGiro();
            GetDeposito();
            GetPinjaman();
        })
        
        function reGenerateData(tglData) {
            $.post('@Url.Action("reGenerateData", "SRAK")', { tglData: tglData }, function (data) {
                const resData = JSON.parse(JSON.stringify(data));
                if (resData.code === '00') {
                    swal.fire("Sukses", resData.message, "success");
                    ReloadDaftar();
                }
                else {
                    swal.fire("Error", resData.message, "error");
                }
            })
        }
        
        $('#breGenerate').click(function () {
            swal.fire({
                title: 'Konfirmasi',
                text: 'Apakah benar data akan di hitung ulang / di reGenerate?',
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Proses',
                cancelButtonText: 'Tidak',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                //reverseButtons: true,
                showLoaderOnConfirm: true,
                //customClass: {
                //    confirmButton: 'btn btn-primary !important;',
                //    cancelButton: 'btn btn-danger !important;',
                //},
                preConfirm: () => {
                    return new Promise(function () {
                        reGenerateData($('#tglData').val());
                    });
                },
                allowOutsideClick: () => !swal.isLoading()
            });
        })


        // ** TESTING DATATABLES MASTER-DETAIL
        var lastRow = 0;
        var lastTr;
        
        function addDetail(d) {
            return ('<table id="dtDetail" class="table table-striped table-bordered table-hover" style="width:100%">'+
                    '<thead>'+
                        '<tr>'+
                            '<th class="text-center">No</th>'+
                            '<th class="text-center">TGL. Trans</th>'+
                            '<th class="text-center">TGl. Lapor</th>'+
                            '<th class="text-center">Limit</th>'+
                            '<th class="text-center">Code Status</th>'+
                        '</tr>'+
                    '</table>');
        }

        $('#dtHeader').on('click', 'td.details-control', function (e) {
            var table = $('#dtHeader').DataTable();
            //let tr = e.target.closest('tr');
            let tr = $(this).closest('tr');
            let row = table.row(tr);

            if (row.child.isShown()) {
                // Hapus Detail kalo sudah terbuka
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Tambahkan detail pada Datatable
                if (lastRow != 0) { 
                    lastRow.child.hide();
                    lastTr.removeClass('shown');
                }
                
                row.child(addDetail(row.data())).show();
                tr.addClass('shown');
                GetDetail(row.data());
                
                lastRow = row;
                lastTr = tr;
            }
        });

        function GetHeader() {
            $('#dtHeader').DataTable().destroy();
            $('#dtHeader').DataTable({
                ajax: {
                    url: '@Url.Action("getHeader", "SRAK")',
                    dataSrc: '[]',
                    type: 'GET',
                    data: { KD_KNTR: '130' }
                },
                columns: [
                    {
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        defaultContent: '',
                    },
                    { data: null, className: 'text-center', width: '5%', render: function (data, type, row, meta) { return meta.row + 1; } },
                    { data: 'NO_REK', className: 'text-center' },
                    { data: 'NAMA', className: 'text-left', render: function (data, type, row) { return data } },
                    { data: 'TOTAL_DATA', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'TOTAL_SUKSES', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'TOTAL_GAGAL', className: 'text-center', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'TOTAL_BELUM_TERKIRIM', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                ],
                //select: {
                //    selector:'td:not(:first-child)',
                //    style:    'os'
                //},
                //responsive: true,
                //fixedHeader: true,
                autoWidth: false,
                oLanguage: { sSearch: 'Cari:' },
                drawCallback: function (settings) {
                    //if (!$('#dtHeader').parent().hasClass("table-responsive")) {
                    //    $('#dtHeader').wrap("<div class='table-responsive'></div>");
                    //}
                    
                    $('#dtHeader').wrap("<div class='table-responsive'></div>");
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        }

        function GetDetail(d) {
            $('#dtDetail').DataTable().destroy();
            $('#dtDetail').DataTable({
                ajax: {
                    url: '@Url.Action("getDetail", "SRAK")',
                    dataSrc: '[]',
                    type: 'GET',
                    data: { NO_REK: d.NO_REK }
                },
                columns: [
                    { data: null, className: 'text-center', width: '5%', render: function (data, type, row, meta) { return meta.row + 1; } },
                    { data: 'TGL_TRANS', className: 'text-center', render: function (d) { return moment(d).format("DD/MM/YYYY") } },
                    { data: 'TGL_LAPOR', className: 'text-center', render: function (d) { return moment(d).format("DD/MM/YYYY") } },
                    { data: 'LIMIT', className: 'text-right', render: $.fn.dataTable.render.number('.', ',', 2) },
                    { data: 'CODE', className: 'text-center' },
                ],
                //paging: false,
                autoWidth: false,
                oLanguage: { sSearch: 'Cari:' },
                drawCallback: function (settings) {
                    //if (!$('#dtDetail').parent().hasClass("table-responsive")) {
                    //    $('#dtDetail').wrap("<div class='table-responsive'></div>");
                    //}

                    $('#dtDetail').wrap("<div class='table-responsive'></div>");
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        }
    </script>
}